# bs4 # USELESS
chardet
colorlog
# gsw # full mode
# ftplib
hatanaka
#kepler.py # full mode
natsort
matplotlib
#ncompress # full mode
numpy
# netCDF4 # full mode
# pybind11 # USELESS
# pyorbital # full mode
# pytwobodyorbit # full mode
pyyaml
pathvalidate
pandas
# requests # USELESS
# seawater # full mode
scipy
sympy
tabulate
# tk # USELESS
tqdm ##progressbars
vincenty
wheel
xarray
logging_tree
mergedeep